@import "reset.less";

@bg: #B5BEC5;
@bg: #d7dee4;
@fg: #181716;
@fg: #252d33;
@a: #8a4900;
@ah: #c4650d;
@markerbg: #00f;
@markerfg: #fff;


@border: 1px solid rgba(#000, 0.05);

body,
html {
  background: @bg;
  color: @fg;
  font-family: Helvetica, sans-serif;
  // font-family: Georgia;
  // font-family: 'Whyte Trial';
  font-weight: normal;
  font-size: 16px;
  
  // letter-spacing: 0.035em;
}

html {
  scroll-behavior: smooth;
}

#container {
  margin: 0 auto;
  padding: 0 auto;
  align-items: flex-start;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap:2rem;
  @media (max-width: 70rem) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 2rem;
  }
  @media (max-width: 50rem) {
    padding: 1rem;
    grid-template-columns: .75fr 1.25fr;
    grid-gap: 4rem 1rem;
    #img {
      img {
        max-width: 10rem;
      }
    }
  }
  @media (max-width: 30rem) {
    padding: 1rem;
    display:block;
    position: relative;
    #img {
      img {
        max-width: 6rem;
      }
    }
    #head {
      padding-left: 0;
      margin-bottom: 4rem;
      font-size: 1rem;
      padding-top: 4em;
    }
    #text {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 4rem;
      ol {
        margin: 0 auto 4rem;
        list-style: none;
        padding: 4rem 0;
        li {
          &:after {
            content: " ";
            display:block;
            margin: 2em auto 1em;
            border-top: 1px solid rgba(#000,0.1);
            width: 4rem;
          }
          &:last-child {
            &:after {
              display:none;
            }
          }
        }
      }
    }
  }
  > * {
    margin: 0 auto;
    width: 100%;
    // overflow: hidden;
    // border: 1px solid rgba(#000,0.4);
  }
}

#img {
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  // max-width: 8em;
  margin: 0;
  img {
    max-width: 100%;
    max-width: 100%;
  }
}

#head {
  
  display:flex; 
  flex-direction: column;
  h1, h2, h3, h4, h5, h6 {
    margin:0;
    display:block;
    font-size: inherit;
    font-weight: inherit;
  }
  h1 {
    font-size: 1.5em;
    max-width: 6em;
    line-height: 1.2em;
    margin-bottom: .5em;
    transform: translateY(-0.18em);
    flex-grow:1;
  }
  h4 {
    font-size: 1em;
    max-width: 12em;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
  a {
    font-size: 0.8em;
  }
}

#text {
  margin: 0 auto;
  line-height: 1.4em;
  flex-grow:1;
  width: 100%;
  ol {
    max-width: 14em;
    list-style: disc;
    list-style-position: inside;
    // list-style-position: outside;
    margin: 0 0 4em;
    li { 
      margin-bottom: 2em;
      line-height: 1.2em;
    }
  }
}

#meer {
  width: 100%;
  #content {
    max-width: 30rem;
    margin: 0;
  }
  
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(#fff2c6, 0.5);
}

::selection {
  background: @markerbg;
  color: @markerfg;
}

.delay(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    animation-delay: (500ms + (@i * 100));
  }

  .delay(@n, (@i + 1));
}

.loop(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    // animation-delay: (100ms + (@i * 20));
    right: 2rem * @i;
  }

  .loop(@n, (@i + 1));
}

* {
  color: inherit;
}

label {
  display: block;
  margin-bottom: 1em;
  opacity: 0.5;
}

a {
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1em;
  color: @a;
  
  &:hover {
    text-decoration: underline;
    color: @ah;
  }
}

h1,
h2,
h3 {
  // line-height: 1.5em;
  margin: 0;
}

h1 {
  font-weight: bold;
}

h2 {
  // margin-bottom: 2rem;
}

h3 {
  text-align: right;
  font-weight: normal;
  line-height: 1em;
  float: right;

  // margin-bottom: 2rem;
}

b {
  // font-weight: bold;
}

i,
em {
  font-style: italic;
}

p {
  margin-bottom: .5em;
  line-height: 1.4em;
  text-indent: 2em;
}